*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-areas: 
    "list details"
    "search search";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 40px;
  inline-size: 1140px;
  align-items: start;
}

.content__details {
  grid-area: details;
  margin-block-start: -60px;
}

.content__list {
  grid-area: list;
}

.content__list-container {
  grid-area: list;
  block-size: 298px;
  overflow-y: auto;
  position: relative;
}

.search-form {
  grid-area: search;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-block-end: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
  background: transparent;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  inline-size: 225px;
  padding: 2.5px 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background: transparent;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 6px 0;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
  padding: 6px 73.5px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  gap: 0;
  padding: 2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  flex-shrink: 0;
}

.content__video-card-thumbnail img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding-inline-start: 15px;
  padding-inline-end: 0;
  min-inline-size: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  inline-size: 100%;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
  overflow: hidden;
  max-block-size: 65px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  margin-block-end: 26px;
  margin-block-start: -80px;
  padding-block-start: 80px;
  overflow: hidden;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 2px;
  cursor: pointer;
}

.content__list-item {
  padding-inline: 3px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content__details,
.content__list {
  inline-size: 100%;
}